body{
    background-color: black;
    height: 100vh;
    font-family: sans-serif;
}
footer{
    background: rgb(0, 0, 83);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px;
}
div{
    /* margin:10px; */
}
div > h3{
    font-size: 30px;
}
#logo{
    padding-left:25px ;
}
ul{
    /* list-style: none; */
    list-style: circle;
}
ul li{
    padding: 5px;
}
ul li a{
    text-decoration: none;
    color: rgb(204, 1, 1);
}
ul li a:hover{
    color: rgb(237, 0, 0);
}

label{
    display: block;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
input{
    height: 23px;
    width: 230px;
    outline: none;
    border: none;
    padding: 5px; 
    margin: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#submit{
    background-color: rgb(192, 33, 33);
    color: white;
    padding: 9px;
    margin: 0px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    cl
}
#submit:hover{
    background-color: rgb(226, 4, 4);
    cursor: pointer;
}
#contact-links{
    font-size: 15px;
    padding: 0%;
    list-style: none;
}
.icons{
    font-size: 22px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 15px;
    cursor: pointer;
    color: grey;
    background: 
}
.icons:hover{
    color: rgb(228, 0, 0);
}