body{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#outside-box{
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
    border: 5px solid red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#inside-box{
    width: 100px;
    height: 100px;
    background-color: rgb(54, 255, 114);
    border: 5px solid rgb(30, 0, 255);
    border-radius: 10px;
    transform: translateX(60px);
    transition: linear 1s;
    
}
#inside-box:hover{
    transform: rotate(180deg);

}